body {
    font-family: 'Source Code Pro', 'Courier', monospace;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}

canvas {
    background: url('https://raw.githubusercontent.com/iannl/random/main/') no-repeat center;
}
